body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poiret One', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.feature-img {
    height: 400px;
    width: 600px;
    box-shadow: 5px 5px 5px;
}



#profile-img {
  height: 100%;
  width: 100%;
  /* box-shadow: 5px 5px 5px; */
}

.welcome {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
}
.artistContainer {
display: inline-grid;
margin: 10px;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}
.ui.grid {
  flex-wrap: nowrap;
  min-height: 100%;
}
.ui.grid {
  padding: 0px 20px;
}

.ui.card{
  /* height: 30vw; */
}


.image{
  height: 20vh
}
